 <div class="user-details">
  <h1> About Me </h1>
  <p>
    <div class="circular-image">
      <img alt="" src="assets/img/headshot.jpg" style="width: 250px; height: 250px; border-width: 0px; border-style: solid; margin-bottom: 10px;"><br>
    </div>
    {{site.user_description}}
  </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Data Science</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-r-original colored"></i>
      <i class="devicon-matlab-plain"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="tech">
      <h2>Coding</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="tech">
      <h2>Misc</h2>
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <i class="devicon-gimp-plain colored"></i>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
