<div class="user-details">
  <h1> Selected Coursework </h1>
</div>
<button class="accordion mit">Spring 2021</button>
<div class="panel">
  <ul>
    <li>6.265 Discrete Probability and Stochastic Processes (Graduate)</li>
    <li>15.438 Fixed Income Securities and Derivatives (Graduate)</li>
    <li>18.104 Seminar in Analysis</li>
  </ul>
</div>
<button class="accordion mit">Fall 2020</button>
<div class="panel">
  <ul>
    <li>6.036 Introduction to Machine Learning</li>
    <li>15.402 Corporate Finance (Graduate)</li>
    <li>18.100Q Real Analysis</li>
    <li>18.404 Theory of Computation</li>
  </ul>
</div>
<button class="accordion mit">Spring 2020</button>
<div class="panel">
  <ul>
    <li>15.457 Advanced Analytics of Finance (Graduate)</li>
    <li>15.493 Practice of Finance: Perspectives on Investment Management (Graduate)</li>
    <li>15.501 Corporate Financial Accounting</li>
    <li>18.03 Differential Equations</li>
    <li>18.650 Fundamentals of Statistics</li>
    <li>18.703 Modern Algebra</li>
    <li>18.S190 Introduction to Computational Thinking with Julia</li>
  </ul>
</div>
<button class="accordion mit">Fall 2019</button>
<div class="panel">
  <ul>
    <li>6.046 Design and Analysis of Algorithms</li>
    <li>15.401 Managerial Finance (Graduate)</li>
    <li>17.831 Data and Politics</li>
    <li>18.06 Linear Algebra</li>
    <li>18.600 Probability and Random Variables</li>
  </ul>
</div>
<button class="accordion mit">Spring 2019</button>
<div class="panel">
  <ul>
    <li>6.006 Introduction to Algorithms</li>
    <li>6.009 Fundamentals of Programming</li>
  </ul>
</div>
<button class="accordion mit">Fall 2018</button>
<div class="panel">
  <ul>
    <li>3.091 Introduction to Solid-State Chemistry</li>
    <li>6.042 Mathematics for Computer Science</li>
    <li>8.02 Physics II</li>
    <li>16.A40 Systems Thinking</li>
  </ul>
</div>
<button class="accordion princeton">Spring 2018</button>
<div class="panel">
  <ul>
    <li>MAT 217 Honors Linear Algebra</li>
  </ul>
</div>
<button class="accordion princeton">Fall 2017</button>
<div class="panel">
  <ul>
    <li>MAT 214 Numbers, Equations, and Proofs</li>
  </ul>
</div>
<script type="text/javascript">
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
  } 
</script>
