<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/pokerbots_bags.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> MIT Pokerbots </h3>
    <ul>
      <li><em> President (2021, 2020), Sponsorship (2019) </em></li>
      <li> Skills: Python, Leadership, Teamwork, Logistics </li>
    </ul>
    <p>Pokerbots, or <a href="http://student.mit.edu/catalog/m6a.html#6.176" target="_blank">6.176</a>, is a student-run MIT class and computerized poker tournament. Teams have one month to program a completely autonomous pokerbot, applying concepts from mathematics, computer science, and economics in novel ways.</p>
    <a class="project-link" href="https://pokerbots.org/" target="_blank">Pokerbots Website</a>
    <a class="project-link" href="https://pkr.bot/github" target="_blank">Pokerbots GitHub</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
